[Unit]
Description=E3DC SOH Monitor Web-App

[Service]
Type=simple
WorkingDirectory=/opt/e3dcset-ui
EnvironmentFile=-%h/.config/e3dc-soh-monitor/env
ExecStart=/opt/e3dcset-ui/.venv/bin/python -m uvicorn app:app --host 127.0.0.1 --port 8321
Restart=on-failure

[Install]
WantedBy=default.target
